fastapi 
uvicorn
python-multipart
ibm-cloud-sdk-core==3.16.6
ibm-cos-sdk==2.12.0
ibm-cos-sdk-core==2.12.0
ibm-cos-sdk-s3transfer==2.12.0
ibm-watson==7.0.1
ibm-watson-machine-learning==1.0.339
prompt-toolkit==3.0.39
pydantic==1.10.13
pydantic_core==2.14.5
pypi-json
typing
beautifulsoup4
pandas==1.5.3
numpy==1.24.2
python-dotenv==1.0.0
pypdf==3.12.2
text_extensions_for_pandas
langchain==0.0.352
langchain-community==0.0.5
langchain-core==0.1.2
streamlit
sentence-transformers==2.2.2
safetensors==0.3.1
scikit-learn==1.2.2
rouge==1.0.1
requests==2.31.0
urllib3==1.26.11
re==2.2.1
pandas==1.5.3
nltk
fastapi
unicorn
scikit-learn

